@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif
}

a {
  color: inherit;
  text-decoration: none
}

img {
  max-width: 400px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020
}

h1 {
  margin-bottom: 30px;
  font-family: ‘Graphik LCG’, sans-serif;
  color: #fff
}

.link-download {
  padding: 20px;
  border: 3px solid #2f1ce4;
  color: #fff;
  background-color: #2f1ce4
}

.link-program {
  padding: 20px;
  border: 3px solid #fff;
  color: #fff;
  background-color: transparent
}

.program-container {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1170px
}

.link-back {
  display: inline-block;
  padding-left: 44px;
  font-size: 18px;
  background-image: url("../img/return.png");
  background-position: left;
  background-size: 24px;
  background-repeat: no-repeat;

}

.headline {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020
}
.caption {
  margin-top: 100px;
  margin-bottom: 25px;
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4
}

.list {
  margin-bottom: 20px;
  padding-left: 200px
}

.description {
  margin-bottom: 20px;
  padding-left: 180px
}

.table  {
  border-collapse: collapse;
  margin-top: 100px;
  border: 1px solid #000
}

.table th,
.table td {
  padding: 5px;
  border: 1px solid #000
}

.table-ending {
  text-align: center
}

.example-img {
  display: inline-block;
  margin: 50px 0px 50px 0px;
  padding-left: 200px;
  text-align: center
}

.more-detailed {
  display: inline-block;
  margin-top: 65px;
  margin-left: 180px;
  padding: 20px 33px 20px 33px;
  border: 4px solid #2f1ce4;
  font-size: 18px;
  font-family: "Gilroy";
  color: #2f1ce4;
  background-color: #fff;
  text-align: center;
}

.modules-container {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1180px
}

.modules-container>p {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Gilroy';
  color: #222020;

}

.modules-content {
  padding-left: 50px;
  padding-right: 50px;
}

.modules-content h1 {
  padding-left: 50px;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Gilroy';
  font-size: 48px;
  font-weight: 800;
  color: #222020;
}

.cards,
.cards ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards h2 {
  margin-left: 50px;
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 800;
  color:#2f1ce4;
}

.cards-child {
  display: inline-block;
  margin: 60px 30px 0px 30px;
  width: 478px;
  min-height: 500px;
  box-shadow: -2.853px 0.927px 10px rgba(83,83,83,0.31);
  vertical-align: middle;
  position: relative;
}

.cards-child li {
  margin-left: 50px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 30px;
  color: #222020;
}

.number {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 16px;
  font-size: 48px;
  font-weight: 500;
  font-family: "Gilroy";
  text-align: right;
  color: #eaeaea;
}

.intro,
.basic-html,
.basic-css,
.layout {
  height: 170px;
  background-size: cover;
}


.intro {
  background-image: url("../img/Intro.jpeg");
}

.basic-html {
  background-image: url("../img/BasicHtml.jpeg");
}

.basic-css {
  background-image: url("../img/BasicCss.jpeg");
}

.layout {
  background-image: url("../img/layout.jpg");
}

.show {
  margin-top: 95px;
  padding: 30px 75px 30px 75px;
  border: 4px solid #2f1ce4;
  font-size: 18px;
  font-family: "Gilroy";
  color: #2f1ce4;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.button-show {
  text-align: center;
}

.body-modules {
  padding-bottom: 600px;
  background-image: url("../img/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}

